# npm install gsap@npm:@gsap/member
# or
# npm install ./gsap-bonus.tgz

always-auth=true
registry=https://npm.greensock.com
@gsap:registry=https://npm.greensock.com
//npm.greensock.com/:_authToken=${GSAP_TOKEN}
//registry.npmjs.org/:_authToken=${GSAP_TOKEN}