/* Credits: Paulina Adamkiewicz
https://codepen.io/apomekhanes/pen/BprZdq */

.coffee,
.cup {
  background-image: url("../assets/images/coffee3.png");
}

.coffee {
  z-index: 1;
  position: absolute;
  background-position: -116px -85px;
  border-radius: 50%;
  top: 80px;
  left: 111px;
  width: 170px;
  height: 170px;
  background-size: 370px 370px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4),
    inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4),
    inset 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  /* Animations */
  animation-name: spinnerRotate;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spinnerRotate;
  -webkit-animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 100s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spinnerRotate;
  -ms-animation-duration: 100s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinnerRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cup {
  position: relative;
  width: 385px;
  height: 361px;
  top: 0px;
  left: 0;
  background-size: 360px 361px;
}
