.spinner {
  width: 40px;
  height: 40px;
}

.spinner div {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinner .dot1 {
  animation-delay: -0.32s;
}

.spinner .dot2 {
  animation-delay: -0.16s;
}

@keyframes spinner {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
