@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Birthstone+Bounce:wght@400;500&family=Homemade+Apple&family=Mr+De+Haviland&family=WindSong:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700");

@tailwind base;
@tailwind components;
@tailwind utilities;

.prevent-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prevent-select:focus {
  outline: none !important;
}
/* hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scrollbar for chrome, safari and opera, and other WebKit-based browsers */
body::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* .pin-spacer.pin-spacer-home-spiral-text-on-scroll {
  margin: 0 !important;
} */

/* @media (min-aspect-ratio: 16/9) {
  #home-1,
  #home-2 {
    width: 100vw;
    height: calc((16 / 9) * 100vh) !important;
  }
} */
