@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Birthstone+Bounce:wght@400;500&family=Homemade+Apple&family=Mr+De+Haviland&family=WindSong:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fixed-position-top-stretch {
    @apply fixed top-0 left-0 right-0;
  }
  .fixed-position-center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-position-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .page-layout {
    @apply max-w-screen-xxxl mx-auto;
  }
  .default-page-spacing {
    @apply lg:px-[100px] md:px-[70px] sm:px-[45px] xs:px-[35px] px-[20px];
  }
  .home-page-spacing {
    @apply xl:px-[150px] lg:px-[100px] md:px-[70px] sm:px-[45px] xs:px-[35px] px-[20px];
  }
}

@layer utilities {
  .prevent-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .prevent-select:focus {
    outline: none !important;
  }

  .dark-color-transition {
    @apply [transition:background-color_1000ms,border-color_1000ms,color_1000ms,fill_1000ms,stroke_1000ms,text-shadow_1000ms,box-shadow_1000ms,filter_1000ms];
  }
}

/* hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* hide scrollbar for chrome, safari and opera, and other WebKit-based browsers */
body::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* @media (min-aspect-ratio: 16/9) {6
  #home-1,
  #home-2 {
    width: 100vw;
    height: calc((16 / 9) * 100vh) !important;
  }
} */
