@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Allura&family=Birthstone+Bounce:wght@400;500&family=Homemade+Apple&family=Mr+De+Haviland&family=WindSong:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}
