@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Richford";
    src: url("/src/assets/fonts/richford/Richford.woff2") format("woff2"),
      url("/src/assets/fonts/richford/Richford.woff") format("woff"),
      url("/src/assets/fonts/richford/Richford.ttf") format("truetype"),
      url("/src/assets/fonts/richford/Richford.eot?#iefix")
        format("embedded-opentype"),
      url("/src/assets/fonts/richford/Richford.eot");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Radditya Signature";
    src: url("/src/assets/fonts/radditya-signature/RaddityaSignature.woff2")
        format("woff2"),
      url("/src/assets/fonts/radditya-signature/RaddityaSignature.woff")
        format("woff"),
      url("/src/assets/fonts/radditya-signature/RaddityaSignature.ttf")
        format("truetype"),
      url("/src/assets/fonts/radditya-signature/RaddityaSignature.otf")
        format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Travel November";
    src: url("/src/assets/fonts/travel-november/TravelNovember.woff2")
        format("woff2"),
      url("/src/assets/fonts/travel-november/TravelNovember.woff")
        format("woff"),
      url("/src/assets/fonts/travel-november/TravelNovember.ttf")
        format("truetype"),
      url("/src/assets/fonts/travel-november/TravelNovember.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .bg-root-color {
    @apply bg-coffee-100 dark:bg-coffee-800;
  }

  .fixed-position-center {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-position-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .page-layout {
    @apply max-w-screen-xxxl mx-auto;
  }
  .default-page-spacing {
    @apply lg:px-[100px] md:px-[70px] sm:px-[45px] xs:px-[35px] px-[20px];
  }
  .home-page-spacing {
    @apply xl:px-[150px] lg:px-[100px] md:px-[70px] sm:px-[45px] xs:px-[35px] px-[20px];
  }
}

@layer utilities {
  .prevent-select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .prevent-select:focus {
    outline: none !important;
  }
}

/* hide scrollbar for IE, Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera, and other WebKit-based browsers */
body::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}
